//Innehåller baskod
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//Färger
$primary_purple: #9973b1;
$primary_yellow: #f8db75;
$white: #ffffff;
$black: #000000;
$gray: #EEEEEE;

//Storlekar
$main_padding: 0 1.5em;
$main_width: 1000px;