/*------ LOGGED IN -------*/
/* Logga ut-knappen får en specifk bredd, en gul bakgrundsfärg, svart textfärg, rundade hörn och placeras till
   höger. Profilbilden och inloggningstexten får en del utrymme ovanifrån. Boxen som innehåller huvudinnehållet
   får en specifik bredd och placeras i mitten. Inmatningsfälten får en specifk bredd, placeras två stycken 
   bredvid varandra och görs luftigare. Knapparna för att lägga till eller uppdatera information får likt utseende
   som logga ut-knappen med den gula bakgrunden och svarta textfärgen. Tabellerna får en maxbredd och en del utrymme 
   från sidorna. Rubrikerna i tabellen får en lila bakgrundsfärg och vit textfärg. Raderna får varannan vit och varannan
   grå bakgrundsfärg. Footern får en del utrymme ovanifrån och vid sidorna. */
.logoutBtn {
    padding: 1.4em 4em;
    background-color: $primary_yellow;
    color: $black;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-top: 1em;
}

.logoutBtn:hover {
    cursor: pointer;
}

.loggedInImage {
    margin-top: 10em;
}

.loggedInInfo {
    margin-top: 7em;
}

#wrapperLoggedIn  {
    max-width: $main_width;
    padding: $main_padding;
    margin: 0 auto;

    h2 {
        text-align: left;
    }

    h3 {
        color: lighten($primary_purple, 5)
    }

    label {
        width: 47%;
        float: left;
        margin-bottom: 1.8em;
        font-weight: bold;
    }
    
    label .inputField {
        width: 100%;
        padding: .4em 0 .4em .4em;
        margin-top: .5em;
        font: inherit;
        font-weight: initial;
    }
    
    .rightLabel {
        float: right;
        margin-left: 3em;
    }
    
    .formBtn {
        width: 15em;
        border: none;
        color: $black;
        background-color: $primary_yellow;
        text-transform: uppercase;
        font: inherit;
        font-weight: 700;
        border-radius: 4px;
        padding: 1em;
        margin-bottom: 2em;
        float: right;
    }
    
    .formBtn:hover {
        cursor: pointer;
    }

    form {
        overflow: auto;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 3em;

    th, td {
        padding: 1em;
        font-size: 0.95em;
    }

    th {
        background-color: lighten($primary_purple, 10);
        color: white;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: $gray;
    }
}

.editBtn:hover {
    cursor: pointer;
}

.websiteUrl {
    font-size: 0.8em;
}

.regularFooter {
    height: 2em;
    background-image: none;
    
    #copyright {
        color: $black;
        padding-bottom: 4em;
    }
}